// =============================================================================
// Variables and Imports
//
// If you have a base partial (or equivalent), you should move these lines to
// that file. @see http://compass-style.org/help/tutorials/best_practices/
// =============================================================================

// @font-face

@font-face {
    font-family: 'open_sansitalic';
    src: font-url('OpenSans-Italic-webfont.eot');
    src: font-url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Italic-webfont.woff') format('woff'),
         font-url('OpenSans-Italic-webfont.ttf') format('truetype'),
         font-url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans_condensedbold';
    src: font-url('OpenSans-CondBold-webfont.eot');
    src: font-url('OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-CondBold-webfont.woff') format('woff'),
         font-url('OpenSans-CondBold-webfont.ttf') format('truetype'),
         font-url('OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: font-url('OpenSans-Regular-webfont.eot');
    src: font-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Regular-webfont.woff') format('woff'),
         font-url('OpenSans-Regular-webfont.ttf') format('truetype'),
         font-url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: false !default;

// The default font family.
$base-font-family: 'open_sansregular', sans-serif !default;

// The base font size.
$base-font-size: 16px !default; // Override default set in Compass' Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default; // Override default set in Compass' Vertical Rhythm partial.

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// Set this to true to add support for IE 6.
$legacy-support-for-ie6: false !default; // Override default set in Compass' Support partial.

// Set this to true to add support for IE 7.
$legacy-support-for-ie7: false !default; // Override default set in Compass' Support partial.
$legacy-support-for-ie8: false !default;

// After the default variables are set, import the required Compass partials.
@import "compass/support";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/typography/vertical_rhythm";
@import "toolkit";
@import "breakpoint";
@import "singularitygs";

@import "rgbapng";

// colors 
$bgdark: rgb(48, 116, 163);
$bodycopy: rgb(37, 37, 37);
$link: #e5e5e5;
$link-active: rgb(236, 232, 232);
$link-hover: rgb(250, 247, 247);
$heading-primary: rgb(153, 153, 153);
$heading-sub: rgb(85, 85, 85);
$border: rgb(227, 225, 225);
$background: rgb(153, 153, 153);;
$blue: rgb(25, 193, 195);
$bglight: #3074a3;
// breakpoints 
$breakpoint-to-ems: true;
$plam: 320px;
$portable: 480px;
$lap: 990px;
$desk: 1280px;

//grids
$include-border-box: true;
$include-clearfix: true;
$grids: 4;
$gutters: 1/4;
$grids: add-grid(6 at $portable);
$grids: add-grid(12 at $lap);
//rgba png

$rgbapng_path: 'img';
$rgbapng_px_size: 8;