// Global Styles
/*$bodycopy: rgb(85, 85, 85);
$link-active: rgb(76, 76, 76);
$link-hover: rgb(96, 189, 219);
$heading-primary: rgb(76, 76, 76)
$heading-sub: rgb(85, 85, 85);
$border: rgb(238, 238, 238);
$background: rgb(243, 243, 243); */

// links all
// viewport reset
@-webkit-viewport {
    width: device-width;
}


@-moz-viewport {
    width: device-width;
}


@-ms-viewport {
    width: device-width;
}


@-o-viewport {
    width: device-width;
}


@viewport {
    width: device-width;
}

html, body {
    height: 100%;
    }
a {
    @include adjust-font-size-to(16px);
    @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0);
    border-bottom-style: dotted;
    border-bottom-color: $border;
    text-transform: uppercase;
    text-decoration: none;
    @include padding-leader($lines: 0.5);
    @include padding-trailer($lines: 0.5);
    color: $link;
    &:hover, &:focus {
        color: $link-hover;
        outline: none;
    }
    &.active {
        color: $link-hover;
    }
}

h1 {
    color: $heading-primary;
    font-family: 'open_sans_condensedbold';
}

h2, h3, h4, h5, h6 {
    color: $heading-sub;
    font-family: 'open_sans_condensedbold';
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    margin: 0 0 rhythm(0.5) 0;
    
}

ul {
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
}

body {
	background-color: $border;
}

.m-contain {
	-webkit-box-shadow: 0px 0px 14px 1px rgba(204,204,204,0.66);
-moz-box-shadow: 0px 0px 14px 1px rgba(204,204,204,0.66);
box-shadow: 0px 0px 14px 1px rgba(204,204,204,0.66);
}



//social styles

@include style-external-links('facebook.com') {
    @include replace-text-pe($social, 'Facebook');
    }