//layout

.l-contain {
    margin: 0 auto;
    @include breakpoint($plam) {
        width: 100%;
    }

    @include breakpoint($lap) {
        width: 96%;

    }

    @include breakpoint($desk) {
        width: 92%;

        max-width: 1280px;
    }

    @if $legacy-support-for-ie6 {
        width: 100%;
    }
}
.l-banner {
	@include clearfix;
}
.l-logo {
    @include grid-span(4, 1);
    @include breakpoint($desk) {
        @include grid-span(3, 1);
    }
}

.l-navigation {
    @include grid-span(4, 1);
    @include breakpoint($desk) {
        @include grid-span(9, 4);
    }
}



.l-cartoon, .l-painting, .l-misc {
    @include grid-span(4, 1);
    @include breakpoint($portable, $no_query: false) {
        @include grid-span(6, 1);
        @include layout(6) {
            li {
                @include grid-span(3, 1);
                &:last-child {
                    @include grid-span(3, 4);
                }
            }
        }
    }
}

@include breakpoint($lap, $no_query: true) {
    .l-cartoon {
        @include grid-span(4, 1);
        li {
            @include layout(4) {
                @include grid-span(4, 1);
                &:last-child {
                    @include grid-span(4, 1);
                }
            }
        }
    }
}


@include breakpoint($lap, $no_query: true) {
    .l-painting {
        @include grid-span(4, 5);
        li {
            @include layout(4) {
                @include grid-span(4, 1);
                &:last-child {
                    @include grid-span(4, 1);
                }
            }
        }
    }
}
.l-creative {
    @include clearfix;
    @include grid-span(4, 1);
    @include breakpoint($lap, $no_query: true) {
        @include grid-span(12, 1);
        @include layout(10) {
        .l-ca {

            @include grid-span(10, 1);

            }
            .l-cb {

                @include grid-span(10, 1);
            
                }
        }
    }   
}

  
  
  
  
  
  
  
  
@include breakpoint($lap, $no_query: true) {
    .l-misc {
        @include grid-span(4, 9);
        li {
            @include layout(4) {
                @include grid-span(4, 1);
                &:last-child {
                    @include grid-span(4, 1);
                }
            }
        }
    }
}

.l-half {
	//@include background-grid;
    @include clearfix;
	.l-one, .l-two {
        //@include clearfix;
		@include grid-span(4, 1);
	}
	@include breakpoint($lap, $no_query: true) {
		@include layout(12);

		.l-one {
			@include grid-span(6, 1);
            margin-right: 0;
		}
		.l-two {
			@include grid-span(6, 7);
		}
	}
}
