/*
@if $legacy-support-for-ie8 {
Any extra IE8 only styles.
    h1 {
      color: white;
    }
  }
*/
.m-contain {
    background: #ffffff;
    //boxshadow
}

.m-banner {
    @include apply-side-rhythm-border(top, $width: 5px, $lines: 0);
    border-top-color: $border;
    @include clearfix;
    @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0);
    border-bottom-color: $border;
}

.m-logo {
    text-align: center;
    @include breakpoint($desk) {
       text-align: left;
    }
}

.navigation {
    z-index: 1;
}

.navigation, .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
    //-webkit-padding-start: 0px;
}

@include breakpoint($lap, $no_query: true) {
    .navigation, .navigation ul {
        text-align: center;
    }
}


.navigation li {
    float: left;
    width: 100%;
    display: block;
}

@include breakpoint($lap, $no_query: true) {
    .navigation li {
        float: none;
        display: inline-block;
        width: auto;
        margin-left: .4em;
        margin-right: .2em;
        @if $legacy-support-for-ie6 {
            *display: block;
            *float: left;
        }
    }
}


.navigation a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.125em;
    //color: $textColor;
    text-decoration: none;
    width: 100%;
    //border-bottom: 0.063em solid (lighten($brightBlue, 19%));
    padding: .5em 1em;
    float: left;
    text-align: center;
}

.navigation a:focus {
    background-color: $background;
    outline: none;
    //color: $link-hover;
}

@include breakpoint($lap, $no_query: true) {
    .navigation a {
        margin: 0;
        padding: 1em .7em .5em;
        background: transparent;
        border: 0;
        //animation for big goes here
        @if $legacy-support-for-ie6 {
            _float: none;
        }
    }
}


.js .navigation {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
}

@include breakpoint($lap, $no_query: true) {
    .js .navigation {
        position: relative !important;
        max-height: none;
    }
}


.navigation.opened {
    max-height: 9999em;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: $background;
    height: 3em;
    padding: 0.7em 0 1.5em 0;
    //border-bottom: 0.063em solid (darken($lightGrey, 4%));
    //border-top: 0.063em solid (darken($lightGrey, 4%));
    @include apply-side-rhythm-border(top, $width: 1px, $lines: 0);
    border-top-color: $border;
    @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0);
    border-bottom-color: $border;
}

@include breakpoint($lap, $no_query: true) {
    .nav-toggle {
        display: none;
    }
}


.l-navigation {
    @include breakpoint($desk) {
        margin: rhythm(1) 0 0 0;
    }
}

//@include apply-side-rhythm-border(top,    $width: 1px, $lines: 0.35);

.slides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.slides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.slides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.slides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    margin: 0;
}

.m-slide {
    @include apply-side-rhythm-border(bottom, $width: 3px, $lines: 0);
    @include apply-side-rhythm-border(top, $width: 3px, $lines: 0);
    border-color: $border;
}

.m-latestwork {
    text-align: center;
}