/*
@if $legacy-support-for-ie8 {
Any extra IE8 only styles.
    h1 {
      color: white;
    }
  }
*/

.m-contain {
    background-color: #ffffff;
}

.m-banner {
    background-color: $bgdark;
}

.m-logo {
    text-align: center;
    color: #ffffff;
    @include breakpoint($desk) {
        text-align: left;
        padding: 0 0 0 rhythm(0.5);
    }
}

/* .navigation {
    z-index: 1;
}
*/
.navigation, .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
    //-webkit-padding-start: 0px;
}

@include breakpoint($lap, $no_query: true) {
    .navigation, .navigation ul {
        text-align: center;
    }
}
.lt-ie9 .navigation {
            padding-left: 17%;
            padding-bottom: rhythm(0.5);

        }

.navigation li {
    float: left;
    width: 100%;
    display: block;
}


.navigation li {
    @include breakpoint($lap, $no_query: true) {
        float: none;
        display: inline-block;
        width: auto;
        margin-left: .4em;
        margin-right: .2em;
    }
    @if $legacy-support-for-ie6 {
            *display: block;
            *float: left;
            display: block;
            float: left;
        }
}


.navigation a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.125em;
    //color: $textColor;
    text-decoration: none;
    width: 100%;
    //border-bottom: 0.063em solid (lighten($brightBlue, 19%));
    padding: .5em 1em;
    float: left;
    text-align: center;
}

.navigation a:focus {
    background-color: $bglight;
    outline: none;
    //color: $link-hover;
}


    .navigation a {
    @include breakpoint($lap, $no_query: true) {
        margin: 0;
        padding: 1em .7em .5em;
        background: transparent;
        border: 0;
        //animation for big goes here
        
    }
    @if $legacy-support-for-ie8 {
            _float: none;
        }
}


.js .navigation {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
}


    .js .navigation {
    @include breakpoint($lap, $no_query: true) {
        position: relative !important;
        max-height: none;
    }
}


.navigation.opened {
    max-height: 9999em;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: $border;
    color: $bgdark;
    height: 3em;
    padding: 0.7em 0 1.5em 0;
    //border-bottom: 0.063em solid (darken($lightGrey, 4%));
    //border-top: 0.063em solid (darken($lightGrey, 4%));
    @include apply-side-rhythm-border(top, $width: 1px, $lines: 0);
    border-top-color: $border;
    @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0);
    border-bottom-color: $border;
    &:hover, &:focus {
        color: #333333;
    }
}

@include breakpoint($lap, $no_query: true) {
    .nav-toggle {
        display: none;
    }
}

.l-navigation {
    @include breakpoint($desk) {
        margin: rhythm(1) 0 0 0;
    }
}

//@include apply-side-rhythm-border(top,    $width: 1px, $lines: 0.35);

.slides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.slides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.slides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.slides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    margin: 0;
}



.m-block {
    text-align: center;
    padding: rhythm(1) rhythm(1) 0 rhythm(1);
    margin-bottom: 0;
    @include clearfix;
    background-color: #f7f7f7;
    img {
        border: 1px solid $border;
        padding: 5px;
        background-color: #ffffff;
    }
    h2 {
        text-transform: uppercase;
        @include apply-side-rhythm-border(top, $width: 1px, $lines: 0);
        border-top-color: $border;
        @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0);
        border-bottom-color: $border;
    }
}

.m-fancy {
    text-align: left;
    color: $heading-sub;
    @include breakpoint($lap, $no_query: true){
        padding-top: rhythm(3);
        }
        @include breakpoint($desk, $no_query: false){
            padding-top: rhythm(5);
            }
}

.m-introduction {

    .bg {
        display: table;
        @include breakpoint($lap, $no_query: true){
         background-image: url('../img/color-palette.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 16.563em;
        }
        

            
    p {
     padding: rhythm(1);
     color: $heading-sub;
     //background-color: rgba(255, 255, 255, 0.73);
    @include rgba-background(rgba(255, 255, 255, 0.73)); 
     
    @include vertical-center;
    @include adjust-font-size-to(18px);
    }
    @include breakpoint($desk, $no_query: false){
    @include adjust-font-size-to(20px);
    }
        text-align: left;
        
       
       
    }
}
.lt-ie7 .bg {
    background-image: none;
    }
.lt-ie8 .m-introduction p {
    padding: rhythm(2) rhythm(1);
    }
aside {
    @include clearfix;
    background-color: $bgdark !important;
    color: $link !important;
    text-align: left !important;
    h2 {
    color: $link !important;
    border-top-color: rgb(65, 125, 180) !important;
    border-bottom-color: rgb(65, 125, 180) !important;
    }
    a {
    border: none;
    }
}
//social styles
.m-social a {

        display: inline-block;
        border: none;


        @include breakpoint($portable, $no_query: false) {
            display: inline-block;
            border: none;
            padding-right: 4%;
            }
            @include breakpoint($lap, $no_query: false){
                display: inline-block;
                border: none;
                padding-right: 6%;
                }
                @include breakpoint($desk, $no_query: false){
                    display: inline-block;
                    border: none;
                    padding-right: 6%;
                    }
    }

.lt-ie9 .m-social a {
        display: block;
        float: left;
        padding: 0 6%;
        }
.lt-ie8 .m-social a {
        display: block;
        float: left;
        padding: 0 2%;
        }
@include style-external-links('facebook.com') {
    @include replace-text-pe($social, 'Facebook');
    }
@include style-external-links('twitter.com') {
    @include replace-text-pe($social, 'Twitter');
    }
@include style-external-links('youtube.com') {
    @include replace-text-pe($social, 'YouTube');
    }
    
@include style-external-links('googleplus.com') {
    @include replace-text-pe($social, 'Googleplus');
    }

footer {
    @include clearfix;
    text-align: center;
    color: darken($link, 13%);
    background-color: $bodycopy;
    padding: rhythm(1);
    p {
         @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0);
         border-bottom-color: darken($border, 63%);
         padding: 0 0 rhythm(1) 0;
         
         }
    a {
        @include adjust-font-size-to(13px);
        color: darken($border, 33%);
        text-decoration: none;
        border: none;
        }
}